<!DOCTYPE html>
<html lang="en">

<head>
    <title>st</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>v-for="数据 in data中的键" </h1>
        <div v-for="good in goods">
            {{good.id}}___{{good.title}}___<span style="color:#f00;">￥</span>{{good.price}}
        </div>
        <h1>vv-for="(数据，索引) in data中的键"</h1>
        <div v-for="(good,i) in goods">
            {{i}}-----{{good.id}}__{{good.title}}__<span style="color:#f00;">￥</span>{{good.price}}
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                goods: [
                    { id: 1, title: 'a', price: 12 },
                    { id: 2, title: 'b', price: 13 },
                    { id: 3, title: 'c', price: 14 },
                    { id: 4, title: 'd', price: 15 }
                ]
            }
        })
    </script>
</body>

</html>